---
import Layout from '../layouts/default.astro';
import Series from '../components/home/series.astro';
import Partners from '../components/home/partners.astro';
import Support from '../components/home/support.astro';
import Newsletter from '../components/home/newsletter.astro';
import PageHeader from '../components/page-header.astro';

export const prerender = true;
---

<Layout title="tv for developers — CodeTV">
	<main>
		<PageHeader
			image={{
				public_id: 'codetv-home-hero',
				alt: 'A group of developers sitting on bleachers in the Web Dev Challenge demo set, watching two developers present their project',
			}}
			line1="tv for developers"
			line2="made by developers"
		/>

		<Series />

		<Partners />

		<Support />

		<Newsletter />
	</main>
</Layout>
