---
import Layout from '../layouts/default.astro';
import SeriesList from '../components/series-list.astro';
import { getAllSeries } from '../util/sanity';

export const prerender = true;

const allSeries = await getAllSeries();
---

<Layout>
	<main>
		<section class="hero">
			<h1>We make tv for developers.</h1>
			<p>
				Watch stories about web developers learning, having fun, and overcoming
				challenges together with a supportive community.
			</p>
		</section>
		<SeriesList series={allSeries.filter((s) => s.featured)} />
	</main>
</Layout>

<style>
	main {
		inline-size: min(90dvi, calc((300px + 2rem) * 4 - 2rem));
		margin-block-start: 3rem;
		margin-inline: auto;
	}

	.hero {
		h1 {
			font-family: monaspace-argon, monospace;
			font-feature-settings: 'calt', 'liga', 'ss01', 'ss02', 'ss03', 'ss04',
				'ss05', 'ss06', 'ss07', 'ss08';
			font-size: clamp(1rem, 3.5cqi + 1rem, 4rem);
			font-weight: 800;
			line-height: 1.1;
			text-align: center;
		}

		p {
			font-family: jwf-light;
			font-size: clamp(1rem, 0.5cqi + 1rem, 2.5rem);
			inline-size: 45ch;
			margin: 0.5rem auto 0;
			text-align: center;
		}
	}
</style>
