---

---

<aside>
	<p>
		<strong>Heads up!</strong>
		This site is in beta and may have issues. Please report bugs, missing functionality,
		etc.
		<a href="https://github.com/learnwithjason/learnwithjason.dev-v2/issues">
			on GitHub
		</a>
	</p>
</aside>

<style>
	aside {
		background: var(--gray-500);
		color: var(--gray-100);
		font-size: 0.875rem;
		inset-block-start: 0;
		inset-inline: 0;
		padding: 0.75rem max((100dvi - 1080px) / 2, 5dvi);
		position: sticky;

		a {
			color: inherit;
			pointer-events: all;
		}
	}
</style>
