---
import Search from './search/search.astro';
---

<footer>
	<div class="mini-bio">
		<p>
			TODO: write a couple sentences here. Write a couple sentences here. Write
			a couple sentences here. Write a couple sentences here.
		</p>
	</div>

	<div class="middle">
		<Search />
	</div>

	<nav class="links">
		<a href="https://partners.lwj.dev">Become a partner / sponsor</a>
		<a href="/newsletter">Get news & updates</a>
		<a href="/code-of-conduct">Code of conduct</a>
		<a href="mailto:info@learnwithjason.dev">info@learnwithjason.dev</a><a
			href="https://github.com/learnwithjason/learnwithjason.dev-v2"
			>Source code</a
		>
	</nav>
</footer>

<style>
	footer {
		align-items: center;
		background: var(--gray-800);
		color: var(--gray-200);
		display: flex;
		flex-direction: column;
		font-size: 0.75rem;
		gap: 2rem;
		justify-content: center;
		padding: 2rem max(calc((100cqw - 1024px) / 2), 5cqw);

		@media (min-width: 800px) {
			display: grid;
			grid-template-columns: min(90dvi, 400px) auto max-content;
		}

		.middle {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		.links {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			@media (min-width: 800px) {
				align-items: end;
			}

			a {
				color: inherit;

				&:is(:hover, :focus, :active) {
					color: var(--gray-100);
				}
			}
		}
	}
</style>
