---
import { actions } from 'astro:actions';

export const prerender = 'false';

export interface Props {
	heading?: string;
	disclaimer?: string;
}

const { heading = 'tv for developers in your inbox', disclaimer } = Astro.props;
---

<aside class="opt-in">
	<form method="POST" action={`/confirm${actions.newsletter.subscribe}`}>
		<slot>
			<h2>{heading}</h2>
			<p>
				Learning web dev can be fun, if we let it be. CodeTV creates playful,
				entertaining originals for developers who want to leave the stress,
				FoMO, and hot takes behind.
			</p>
			<p>
				Join thousands of developers on the CodeTV newsletter and get new
				content delivered directly to your inbox.
			</p>
		</slot>

		<label for="firstName">First Name</label>
		<input type="text" name="firstName" id="firstName" required />

		<label for="email">Email</label>
		<input type="email" name="email" id="email" required />

		<button>Subscribe</button>

		{disclaimer ? <p class="disclaimer">{disclaimer}</p> : null}
	</form>
</aside>

<style>
	.opt-in {
		background: var(--black);
		color: var(--white);
		container: newsletter / inline-size;
		grid-column-start: 1;
		margin: 40px max(-5vw, -40px) 0;
		padding: 40px min(5vw, 40px) 48px;

		&.constrained {
			margin-inline: 0;
			padding-inline: 40px;
		}

		&:has(.disclaimer) {
			padding-block-end: 16px;
		}

		h2 {
			color: var(--white);
			font-size: clamp(1.25rem, 6cqi, 2rem);
			font-weight: 600;
			line-height: 1.1;
			margin: 0;
			padding: 0;
			text-align: left;
		}

		p {
			margin-block-start: 20px;
		}

		strong {
			color: #d4d0da;
		}

		label,
		input,
		button {
			display: block;
			font-size: 16px;
			font-weight: 400;
		}

		label {
			margin-block-start: 8px;
		}

		p + label {
			margin-block-start: 20px;
		}

		input {
			background: var(--bg);
			border: 1px solid var(--text-muted);
			border-radius: 3px;
			color: var(--text);
			padding: 8px;
			width: 100%;
		}

		button {
			background: var(--purple-600);
			border: none;
			border-radius: 3px;
			color: var(--white);
			font-size: 1.25rem;
			font-weight: 800;
			margin-block-start: 20px;
			max-width: 300px;
			padding: 8px;
			text-transform: uppercase;
			width: 100%;
		}

		@media (min-width: 716px) {
			border-radius: 3px;
			margin-block-start: 0;

			&:not(:first-child) {
				margin-block-start: 64px;
			}
		}

		p.disclaimer {
			color: var(--text-muted);
			font-size: 0.75em;
			font-style: italic;
			margin-block-start: 20px;
			max-width: 54ch;
		}
	}

	:global(.post-content) .opt-in {
		margin-top: 40px;

		strong {
			color: #d4d0da;
		}
	}
</style>
