---
export const prerender = false;

const user = await Astro.locals.currentUser();
---

{
	user ? (
		<a href="/dashboard" class="account" title="Manage your account">
			{user.firstName}
			<img src={user.imageUrl} alt={user.fullName} width={60} />
		</a>
	) : (
		<a href="/dashboard/sign-in" class="button">Become a Supporter</a>
	)
}

<style>
	.account {
		align-items: center;
		border: 1px solid color-mix(in oklch, var(--text-muted) 15%, transparent);
		border-radius: 5px;
		display: flex;
		font-family: var(--font-family);
		font-size: 0.75rem;
		gap: 10px;
		inline-size: max-content;
		margin-inline: auto;
		padding: 15px 5px 15px 10px;
		transition: background-color 100ms linear;

		@media (min-width: 1080px) {
			padding-block: 5px;
		}

		&:is(:hover, :focus) {
			background-color: color-mix(in oklch, var(--text-muted) 25%, transparent);
		}

		img {
			aspect-ratio: 1;
			block-size: auto;
			border-radius: 3px;
			display: block;
			inline-size: 30px;
			object-fit: cover;
			outline: 1px solid var(--text-muted);
		}
	}
</style>
