---
import Layout from './default.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
	<main class="container page">
		<h1>{frontmatter.title}</h1>
		<p class="lede">{frontmatter.description}</p>
		<slot />
	</main>
</Layout>

<style>
	.container {
		font-size: 1rem;
		max-inline-size: min(90dvi, 54ch);
		margin: 200px auto;
		word-wrap: break-word;

		:is(p, ul, ol) {
			&:not(:first-child) {
				margin-block-start: 20px;
			}

			&.lede {
				font-size: 1.25em;
				margin-block-start: 16px;

				& + p {
					margin-block-start: 20px;
				}
			}
		}

		li {
			margin-block-start: 8px;
		}
	}
</style>
